# make standard ratings

In [2]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# get data
train = pd.read_csv('../data/train_ratings.csv')
test = pd.read_csv('../data/test_ratings.csv')

In [4]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
user_id,306795.0,136128.416099,80512.194379,8.0,67591.0,134076.0,206438.0,278854.0
rating,306795.0,7.069714,2.433217,1.0,6.0,8.0,9.0,10.0

* rating의 평균 값은 7.069714

In [5]:
test.head()

   user_id        isbn  rating
0    11676  0002005018       0
1   116866  0002005018       0
2   152827  0060973129       0
3   157969  0374157065       0
4    67958  0399135782       0

In [6]:
print(f'test shape: {test.shape}\n')

test shape: (76699, 3)

In [7]:
# fill rating by mean value 7.069714
standard = test.copy()
for i in range(len(test)):
    standard['rating'][i] = 7.069714

/tmp/ipykernel_26624/4141181895.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  standard['rating'][i] = 7.069714

In [30]:
standard.head()

   user_id        isbn    rating
0    11676  0002005018  7.069714
1   116866  0002005018  7.069714
2   152827  0060973129  7.069714
3   157969  0374157065  7.069714
4    67958  0399135782  7.069714

In [19]:
# make csv from df
standard.to_csv('standard_ratings.csv', index=False)

* standard rating을 제출한 결과 RMSE 값은 2.4457
* 즉, RMSE 값이 2.4457보다 낮게 나와야 유의미한 결과라고 할 수 있음